<?xml version="1.0"?>
<configuration>
  <!--Add Configuration Settings, Adding the connection string.-->
  <connectionStrings>
    <add name="AWWs" connectionString="Data Source=DAWN;Initial Catalog=OfficeDirectory;User ID=sa;Password=sa@123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  
  <system.serviceModel>
    <!-- Added this code -->
    <services>
      <service name="HPSSSB_WEB_API.HPSSSB_REST" behaviorConfiguration="ServiceBehaviour">
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="" binding="webHttpBinding" contract="HPSSSB_WEB_API.IHPSSSB_REST" behaviorConfiguration="web">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
        </endpoint>
      </service>
    </services>
    <!-- The Above code was added. -->
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <!-- Added this for management of Memory -->
    <!-- <serviceHostingEnvironment minFreeMemoryPercentageToActivateService="0"  />  -->

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
  </system.serviceModel>
 <system.webServer>

  <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
   <defaultDocument>
     <files>
       <remove value="default.aspx" />
       <remove value="iisstart.htm" />
       <remove value="index.html" />
       <remove value="index.htm" />
       <remove value="Default.asp" />
       <remove value="Default.htm" />
       <add value="RestServiceImpl.svc" />
     </files>
   </defaultDocument>
  </system.webServer>

</configuration>
